@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color: #131a21;
    --primary-color: #1c2632;
    --secondary-color: #7a84ff;
    --white-color: #fff;
    --sub-text-color: rgba(255, 255, 255, 0.08);
}
body{
    background-color: #131a21 !important;
}
.calendar{
    background-color: #131a21;
    height: 330px;
    font-family: 'Roboto', sans-serif;
}
.calendar .head p{
    color: var(--secondary-color);
}
.calendar .head h6{
    color: var(--white-color);
}
.calendar .date{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    justify-content: end;
    align-content: center;
    text-align: center;
    color: white;
}
.offset {
  grid-column-start: 5;
}
.calendar .date p span{
    border-bottom: 2px solid var(--secondary-color);
}
.calendar .date p{
    font-size: .9rem;
    margin: 2.5px 0px;
}
.calendar .date .active span{
    background-color: var(--secondary-color);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.today{
    background-color: var(--secondary-color);
    padding: 3px 10px;
    border-radius: 14px;
    display: inline-block;
    margin: 20px 10px;
}
.today p{
    font-size: .6rem;
    margin: 0px;
}

.matches{
    height: 700px;
    background-color: var(--primary-color);
}
.matches .all{
    background-color: var(--bg-color);
    border: 1px solid var(--primary-color)!important;
}
.matches .live{
    border: 1px solid green;
    background-color: var(--primary-color);
}
.matches .current-match{
    height: 170px;
    background-color: var(--bg-color);
}
.matches .current-match .time span{
    color: var(--sub-text-color) !important;
}